<!DOCTYPE html>
<html>
  <head>
    <title>Time2</title>
    <%= csrf_meta_tags %>
    <%# <%= include_gon %> 
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="script.js"></script>
    <script src="./jquery.bgswitcher.js"></script>
    <%# <link rel="stylesheet" href="style2.css" type="text/css" media="screen and (max-width:480px)"> %>
    <script src="https://cdn.rawgit.com/blueimp/JavaScript-Load-Image/v2.6.2/js/load-image.all.min.js"></script>
    <%# <script type="text/javascript" src="../../../assets/javascripts/jquery-3.2.1.min.js"></script> %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="apple-touch-icon-precomposed" href="https://time-is-money-app.herokuapp.com/timeismoney2.png">
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
