<!DOCTYPE html>
<html>
  <head>
    <title>Time2</title>
    <%= csrf_meta_tags %>
    <%# <%= include_gon %> 
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="script.js"></script>
    <script src="./jquery.bgswitcher.js"></script>
    <script src="https://cdn.rawgit.com/blueimp/JavaScript-Load-Image/v2.6.2/js/load-image.all.min.js"></script>
    <link rel="stylesheet" href="sample.css" type="text/css" media="screen and (max-width:480px)">
    <%# <script type="text/javascript" src="../../../assets/javascripts/jquery-3.2.1.min.js"></script> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
